body {
  background-color: black;
}


h1 {
  color: white;
  text-align: center;
}


p {
  color: white; 
  font-family: verdana;
  font-size: 20px;
}


button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 20px 45px;
  text-align: center;
  text-decoration: 10px;
  display: inline-block;
  font-size: 20px;
  margin: 9px 9px;
  cursor: pointer;
  border-radius: 5px;
}


time{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center
}


.border {
  margin: auto;
  width: 70%;
  border: 3px solid #858585;
  padding: 10px;
}


.small-hr {
  width: 270px;
  margin: 0;
  border: 1px solid #ffffff;
}


.center-hr {
  width: 50%;
  margin: auto;
  border: 1px solid #ffffff;
}


greeting {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 0, 0);
   color: white;
   text-align: center;
}


footerp {
  font-size: 15px;
  color: #ffffff;
}
